body {
	background-color: skyblue;
}

#gamefinish {
	display: none;
	color: green;
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 40vh;
}

#score {
	display: none;
	font-size: 30px;
	text-align: center;
	position: relative;
	top: 40vh;
}

#score_text {
	color: #b09509;
}

#score_number {
	color: black;
}